{% extends 'base.html' %}

{% block title %}
Expense Categories
{% endblock title %}

{% block content %}
    <main>
        <div>
            <h1>Expense Categories</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in categories %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.items.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
